<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-betal/dist/css/bootstrap.min.css"
      rel = "stylesheet" integrity="sha384-0evHe/
       X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <h1 class="mb-5">Image Upload</h1>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag()}}

                    {% for error in form.photo.errors %}
                        <span style="color: red;">{{ error }} </span>
                    {% endfor %}

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {{ form.photo(class= "form-control")}}
                        </div>
                        <div class="col-auto">
                            {{ form.submit(class = "btn btn-success")}}

                        </div>
                    </div>
                </form> 

                {% if file_url %}
                    <div class="mt-5">
                        <img src=" {{ file_url }}" style="width: 400px;">
                    </div>
                {% endif %}


            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
</body>
</html>
